<div class="headerComponent">    
    <div class="headerComponent__sideNavButton" (click)="toggleSideNav()">
        <quizz-humburger-icon></quizz-humburger-icon>
    </div>
    <div class="headerComponent__seperator">
    </div>
    <div class="flex-grow-1">
        <span>
            quizz
        </span>
    </div>
    <div class="headerComponent__themeButton">
        <div class="headerComponent__themeButtonIcon">
            <quizz-sun-icon *ngIf="!(darkMode$ | async)"></quizz-sun-icon>
            <quizz-moon-icon *ngIf="darkMode$ | async"></quizz-moon-icon>
        </div>
        <quizz-toggle-input (checkedChange)="changeTheme()" [checked]="(darkMode$ | async) || false"></quizz-toggle-input>
    </div>
    <div class="headerComponent__userAvatar">
        <quizz-avatar [editIconSize]="25" [fontSize]="20"></quizz-avatar>
    </div>
</div>