@import "mixins";

.headerComponent {
    display: flex;
    align-items: center;
    @include lWidth(100%);

    &__sideNavButton {
        @include lSize(28px);
    }

    &__seperator {
        @include lMarginX(toREM(20px));
        @include lHeight(28px);
        border-right: 1px solid black;
    }
    &__themeButton {
        display: flex;
        align-items: center;
        @include lMarginX(toREM(20px));

        &Icon {
            @include lSize(24px);
            @include lMarginR(toREM(10px));
        }
    }
    &__userAvatar {
        @include lSize(40px);
    }
}
