<div class="dateRangeComponent">
  <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{label}}</mat-label>
      <mat-date-range-input [disabled]="disabled" [rangePicker]="dateRangePicker">
        <input [value]="range?.start" (dateChange)="startChange($event)" matStartDate placeholder="Start date" >
        <input [value]="range?.end" (dateChange)="endChange($event)" matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker panelClass="quizzDatePicker__panel" #dateRangePicker></mat-date-range-picker>
  </mat-form-field>
</div>