<quizz-blank-page-layout>
    <ng-container content>
        <div class="homePage">
            <div class="d-flec align-items-center">
                <div class="text-center my-5">
                    <img src="assets/images/logo.png">
                </div>
                
                <div class="homePage__content my-5">
                    <div class="homePage__playerInput">
                        <quizz-player-input (palyerSaved)="savePlayer($event)"></quizz-player-input>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</quizz-blank-page-layout>