<ng-container *ngIf="breadcrumbs.length === 2; else viewBreadcrumbs"></ng-container>
<ng-template #viewBreadcrumbs>
  <span *ngFor="let breadcrumb of breadcrumbs; let i=index" (click)="navigate(i)">
    <ng-container *ngIf="!!breadcrumb" >
      <span class="breadcrumbComponent__item text-hint">{{ (breadcrumb === '0' ? 'new' : breadcrumb) | titlecase}}</span>
      <span class="mx-1"></span>
      <span *ngIf="i>0 && breadcrumbs.length-1 !== i">/</span>
      <span class="mx-1"></span>
    </ng-container>
  </span>
</ng-template>