@import 'mixins';

.breadcrumbComponent {
    &__item {
        font-size: toREM(16px);

        &:hover{
            transition: color 0.5s ease;
            color: var(--quizz-primary-color);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}