<div class="avatarComponent" (mouseenter)="showEditIcon = true" (mouseleave)="showEditIcon = false">
    <span class="text-hint my-2" *ngIf="!!label">
        {{label}}
    </span>
    <div class="avatarComponent__wrapper" [class.avatarComponent--circle]="shape === 'circle'" fileSelect (selected)="handleSelectPicture($event)"
        (onError)="handleSelectPictureError($event)">
        
        <img *ngIf="!defaultImage; else characters" [src]="src" (error)="handleMissingImage($event)">
        <ng-template #characters>
            <div [style.font-size.px]="fontSize" class="avatarComponent__defaultImage">
                {{avatarCharacters}}
            </div>
        </ng-template>

        <div *ngIf="editIcon && showEditIcon" [style.width.px]="editIconSize" 
            [style.height.px]="editIconSize" class="avatarComponent__editIcon">
            <marvel-edit-icon [@fadeInOutTrigger]="showEditIcon"></marvel-edit-icon>
        </div>
    </div>
</div>