$quizz-primary-color: #ffc107;
$quizz-primary-dark-color: #ffc107;
$quizz-secondary-color: #ea3b5a;
$quizz-secondary-dark-color: #ea3b5a;
$quizz-accent-color: #ffffff;
$quizz-warn-color: #fb5373;
$quizz-success-color: #00ce7c;
$quizz-text-primary-color: #1300ab;
$quizz-text-color: #4e4e56;
$quizz-background-color: #ffffff;
$quizz-dark-background-color: #222b45;
$quizz-background-color-1: #f7f9fc;
$quizz-dark-background-color-1: #192038;
$browser-context: 16;
$font-family: Helvetica;
$font-size: 14px;
$quizz-card-padding: 1rem 1.5rem;
$color-contrasts: (
    1: 1%,
    2: 2%,
    3: 3%,
    4: 4%,
    5: 5%,
    6: 6%,
    7: 7%,
    8: 8%,
    9: 9%,
);
