@use "sass:map";
@use "~@angular/material" as mat;

@include mat.core();

$marvel-mat-contrast-map: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
);

$marvel-mat-primary-palette: (
    100: darken($marvel-primary-color, 1%),
    200: darken($marvel-primary-color, 2%),
    300: darken($marvel-primary-color, 3%),
    400: darken($marvel-primary-color, 4%),
    500: darken($marvel-primary-color, 5%),
    600: darken($marvel-primary-color, 6%),
    700: darken($marvel-primary-color, 7%),
    800: darken($marvel-primary-color, 8%),
    900: darken($marvel-primary-color, 9%),
    contrast: $marvel-mat-contrast-map,
);

$marvel-mat-primary-dark-palette: (
    100: darken($marvel-primary-dark-color, 1%),
    200: darken($marvel-primary-dark-color, 2%),
    300: darken($marvel-primary-dark-color, 3%),
    400: darken($marvel-primary-dark-color, 4%),
    500: darken($marvel-primary-dark-color, 5%),
    600: darken($marvel-primary-dark-color, 6%),
    700: darken($marvel-primary-dark-color, 7%),
    800: darken($marvel-primary-dark-color, 8%),
    900: darken($marvel-primary-dark-color, 9%),
    contrast: $marvel-mat-contrast-map,
);

$marvel-mat-secondary-palette: (
    100: darken($marvel-secondary-color, 1%),
    200: darken($marvel-secondary-color, 2%),
    300: darken($marvel-secondary-color, 3%),
    400: darken($marvel-secondary-color, 4%),
    500: darken($marvel-secondary-color, 5%),
    600: darken($marvel-secondary-color, 6%),
    700: darken($marvel-secondary-color, 7%),
    800: darken($marvel-secondary-color, 8%),
    900: darken($marvel-secondary-color, 9%),
    contrast: $marvel-mat-contrast-map,
);

$marvel-mat-secondary-dark-palette: (
    100: darken($marvel-secondary-dark-color, 1%),
    200: darken($marvel-secondary-dark-color, 2%),
    300: darken($marvel-secondary-dark-color, 3%),
    400: darken($marvel-secondary-dark-color, 4%),
    500: darken($marvel-secondary-dark-color, 5%),
    600: darken($marvel-secondary-dark-color, 6%),
    700: darken($marvel-secondary-dark-color, 7%),
    800: darken($marvel-secondary-dark-color, 8%),
    900: darken($marvel-secondary-dark-color, 9%),
    contrast: $marvel-mat-contrast-map,
);

$marvel-mat-warn-palette: (
    100: darken($marvel-warn-color, 1%),
    200: darken($marvel-warn-color, 2%),
    300: darken($marvel-warn-color, 3%),
    400: darken($marvel-warn-color, 4%),
    500: darken($marvel-warn-color, 5%),
    600: darken($marvel-warn-color, 6%),
    700: darken($marvel-warn-color, 7%),
    800: darken($marvel-warn-color, 8%),
    900: darken($marvel-warn-color, 9%),
    contrast: $marvel-mat-contrast-map,
);
$marvel-mat-success-palette: (
    100: darken($marvel-success-color, 1%),
    200: darken($marvel-success-color, 2%),
    300: darken($marvel-success-color, 3%),
    400: darken($marvel-success-color, 4%),
    500: darken($marvel-success-color, 5%),
    600: darken($marvel-success-color, 6%),
    700: darken($marvel-success-color, 7%),
    800: darken($marvel-success-color, 8%),
    900: darken($marvel-success-color, 9%),
    contrast: $marvel-mat-contrast-map,
);

$marvel-primary-palette: mat.define-palette($marvel-mat-primary-palette);
$marvel-primary-dark-palette: mat.define-palette($marvel-mat-primary-dark-palette);
$marvel-secondary-palette: mat.define-palette($marvel-mat-primary-palette);
$marvel-secondary-dark-palette: mat.define-palette($marvel-mat-secondary-dark-palette);
$marvel-warn-palette: mat.define-palette($marvel-mat-warn-palette);
$marvel-success-palette: mat.define-palette($marvel-mat-success-palette);

$marvel-mat-light-theme: (
    color: (
        primary: $marvel-primary-palette,
        accent: $marvel-secondary-palette,
        warn: $marvel-warn-palette,
        success: $marvel-success-palette,
    ),
);

$marvel-mat-dark-theme: (
    color: (
        primary: $marvel-primary-dark-palette,
        accent: $marvel-secondary-dark-palette,
        warn: $marvel-warn-palette,
        success: $marvel-success-palette,
    ),
);

$marvel-light-theme: mat.define-light-theme($marvel-mat-light-theme);
$marvel-dark-theme: mat.define-dark-theme($marvel-mat-dark-theme);

@include mat.all-component-themes($marvel-light-theme);

.marvel--darkMode {
    @include mat.all-component-colors($marvel-dark-theme);
}
