
@import "~bootstrap/dist/css/bootstrap.css";

@import '_themes.scss';
@import '_overrides.scss';
@import '_variables';

@font-face {
  font-family: "Helvetica";
  src: url("/assets/fonts/Helvetica.woff2") format("woff2"), url("/assets/fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/assets/fonts/Helvetica-Bold.woff2") format("woff2"),
    url("/assets/fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --quizz-primary-color: #{$quizz-primary-color};
  --quizz-secondary-color: #{$quizz-secondary-color};
  --quizz-accent-color:  #{$quizz-secondary-color};
  --quizz-background-color:  #{$quizz-background-color};
  --quizz-background-color-1:  #{$quizz-background-color-1};
  --quizz-loader-color: #{$quizz-primary-color};
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: $font-size;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  overflow-x: hidden;

  &.quizz--darkMode {
    --quizz-primary-color: #{$quizz-primary-dark-color};
    --quizz-secondary-color: #{$quizz-secondary-dark-color};
    --quizz-accent-color:  #{$quizz-accent-color};
    --quizz-background-color:  #{$quizz-dark-background-color};
    --quizz-background-color-1:  #{$quizz-dark-background-color-1};
    --quizz-loader-color: #{$quizz-secondary-color};
  }
}