$marvel-primary-color: #ffc107;
$marvel-primary-dark-color: #ffc107;
$marvel-secondary-color: #ea3b5a;
$marvel-secondary-dark-color: #ea3b5a;
$marvel-accent-color: #ffffff;
$marvel-warn-color: #fb5373;
$marvel-success-color: #00ce7c;
$marvel-text-primary-color: #1300ab;
$marvel-text-color: #4e4e56;
$marvel-background-color: #ffffff;
$marvel-dark-background-color: #222b45;
$marvel-background-color-1: #f7f9fc;
$marvel-dark-background-color-1: #192038;
$browser-context: 16;
$font-family: Helvetica;
$font-size: 14px;
$marvel-card-padding: 1rem 1.5rem;
$color-contrasts: (
    1: 1%,
    2: 2%,
    3: 3%,
    4: 4%,
    5: 5%,
    6: 6%,
    7: 7%,
    8: 8%,
    9: 9%,
);
