.game {
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;

    &__loader {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        right: 50%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;   
    }

    &__answer {
        flex: 50%;
        text-align: center;
        padding: .25rem;
        box-sizing: border-box;
        cursor: pointer;
        
        &Wrapper {
            min-height: 60px;
            border: solid 1px ;
            border-color: lightgray;
            border-radius: 7px;
            padding: .5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &--selected {
                background-color: white;
            }

            &--correct {
                border-color: var(--quizz-success-color) !important;
    
            }
    
            &--incorrect {
                border-color: var(--quizz-warn-color) !important;
            }
        }

    }

    &__actions {
        width: 170px;
        margin: 1rem auto;
    }
}