.leaders {
    width: 100%;
    padding: 3rem;

    &__list {
        height: 100%;
        width: 100%;
        max-width: 600px;
        display: flex;
        margin: auto;
        align-items: center;
    }
}