@import "mixins";

.tableComponent {
    @include lWidth(100%);
    background-color: var(--quizz-background-color);

    &__row {
        &:hover {
            cursor: pointer;
            background: var(--quizz-background-color-1);
            border-color: var(--quizz-background-color-1);
            color: var(--text-basic-color);
        }
    }
}