<table mat-table class="tableComponent" [dataSource]="data">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>{{column.name}}</th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="column.type"> 
            <div *ngSwitchCase="TableColumnType.DATE">{{element[column.key] | date:'MMM d, y, h:mm a'}}</div>
            <div *ngSwitchCase="TableColumnType.NUMBER">BARRRR</div>    
            <div *ngSwitchCase="TableColumnType.BOOLEAN">CAT</div>
            <div *ngSwitchDefault>{{element[column.key]}} </div>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="tableComponent__row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></tr>

    <ng-template matNoDataRow>
        <div>No data to show</div>
    </ng-template>
</table>